<form name="assignContact" action="/assignContact/<%= dataGroup.id%>" method="post">
  <label>Contact Name</label><br />
  <select class="label" name="contactName">
    <option value="">Select Contact Name</option>
    <% for (let i = 0; i < dataAssign.length; i++) {%>
    <option value="<%= dataAssign[i].id%>"><%= dataAssign[i].name%></option>
    <%}%>
  </select><br />
  <input type="submit" value="Submit">
</form>
