<!DOCTYPE html>
<html>
	<head>
		<title>Release 1 Contacts</title>
		<style>
			*{
				margin:auto;
				padding:auto;
			}

			h1{
				text-align:center;
				margin: 30px 0 30px 0;
			}

			.menu{
				float:left;
				width:23%;
				padding:1%;
				background:#eaeaea;
				color:red;
			}
		</style>
	</head>
	<body>
		<h1>EXPRESS CONTACTS-GROUPS</h1><hr />
		<a href="/contacts"><div class="menu">Contacts</div></a>
		<a href="/profiles"><div class="menu">Profiles</div></a>
		<a href="/groups"><div class="menu">Groups</div></a>
		<a href="/addresses"><div class="menu">Addresses</div></a>
	</body>
</html>
